<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>MadoGioa</title>
</head>
<body>
<div id="menuBoard"> </div>
<div>
	<table id="boardTable" width="100%" cellpadding="1" border="1">
		<tr>
			<th width="100">이미지</th>
			<th width="70">이름</th>
			<th width="">덧글</th>
			<th width="150">추천 반대 삭제</th>
			<th width="70">작성일</th>
		</tr>
	</table>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript">
	$('#menuBoard').append('<a id="signupBtn" href="signup">회원가입</a> <a id="loginBtn" href="login">로 그 인</a>');

	$('#boardTable').append('<tr><td width="100">이미지</td><td width="70">이름</td><td width="">덧글</td><td width="150">추천 반대 삭제</td><td width="70">작성일</td></tr>');


</script>
</body>
</html>
